<h1>{{(this.events$ | async)?.typeEvent}}</h1>
<div *ngIf="this.viewCalendar">
    <mat-form-field>
        <mat-label>Seleziona le date</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date">
          <input matEndDate placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
</div>

<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Scegli una voce dal menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="this.openDialogSaint()">
    <mat-icon>add</mat-icon>
    <span>Nuovo Santo</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_on</mat-icon>
    <span>Nuovo Onomastico</span>
  </button>
</mat-menu>
 
<app-event *ngFor="let evn of (this.events$ | async)?.events" [event]="evn"></app-event>

