<mat-drawer-container class="app-sidenav-container">
    <mat-drawer #drawer
                mode="over" 
                class="app-sidenav mat-elevation-z10">
                <app-toolbar color="primary">
                  Eventi
                </app-toolbar>
                <mat-list>
                  <mat-list-item role="listitem">Oggi</mat-list-item>
                  <mat-list-item role="listitem"><a [routerLink]="['/','compleanni']">Compleanni</a></mat-list-item>
                  <mat-list-item role="listitem"><a [routerLink]="['/','onomastici']"> Onomastici</a></mat-list-item>                  
                  <mat-list-item role="listitem"><a [routerLink]="['/','eventi']">Tutti</a></mat-list-item> 
                </mat-list>
    </mat-drawer>
    <mat-drawer-content  class="app-sidenav-content">
      <app-toolbar (toogleSidenav)="drawer.toggle()">
      </app-toolbar>
      <div class="wrapper">
          <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
