<h2 mat-dialog-titile>Aggiungi/Modifica Santo</h2>
<mat-dialog-content>
    <div class="dialog-container">
        <mat-form-field appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput [formControl] = "FC_nome" required minlength="4" maxlength="15"/>        
            <mat-error>{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        <mat-form-field >
            <mat-label>Data</mat-label>
            <input matInput [matDatepicker]="picker" [formControl] = "FC_data" required >
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>{{getErrorDataMessage()}}</mat-error>
        </mat-form-field>
    </div>
</mat-dialog-content>

<mat-dialog-actions  align="end">
    <button mat-flat-button color="primary" (click)="openConfirmDialog()">Ok</button>
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
 