<h2 mat-dialog-titile>Nuovo Onomastico</h2>
<mat-dialog-content>
    <div class="dialog-container ">
        <mat-form-field appearance="fill">
            <mat-label>Santo</mat-label>
            <mat-select [(ngModel)]="this.selectedSaint" name="saint">
               <mat-option *ngFor="let saint of this.namedayData.saints" [value]="saint.id" >{{saint.description}} ({{saint.date | date: "dd/MM"}})</mat-option>
            </mat-select>   
           
          </mat-form-field>
        <mat-form-field >
            <mat-label>Persona</mat-label>
            <mat-select [(ngModel)]="this.selectedPerson" name="person">
               <mat-option *ngFor="let person of this.namedayData.people" [value]="person.id" >{{person.nome + " "+ person.cognome}} </mat-option>
            </mat-select> 
            
        </mat-form-field>
    </div>
</mat-dialog-content>

<mat-dialog-actions  align="end">
    <button mat-flat-button color="primary">Ok</button>
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
 